$primary-color: #1258b4;
$secondary-color: #004159;
$navbar-color: #ffffff;
$danger: #ff0000;
$success: #00ff00;

$body-bg-color: #f5f5f5;
$card-bg-color: #ffffff;
$text-color: #2f2f2f;
$border-color: #dedede;
$text-white: #ffffff;
$message-user-text: #575757;
$message-time-text: #959595;
$message-send-time-text: #8ebfff;

// Shadow
$shadow: 0px 1px 3px #dedede;
$message-shadow: 0px 1px 7px 8px #d9d9d9;

// Button
$btn-text-color: #ffffff;
$button-color: #0574d6;

// Input
$input-border-color: #dedede;
$input-text-color: #2f2f2f;

// Responsive
$mobile: 320px;
$mobile-large: 480px;
$tablet: 768px;
$desktop: 1024px;